@import url('https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap');

/*  Global Section*/

/* End of Global Section */

/* Navbar Section */
.navbar
{
    margin-bottom: 0;
    border: 0px;
}

.nav li a:hover,
.navbar-default
{
    background-color: transparent;
}

nav.navbar-default
{
    position: absolute;
    top: 100;
    right: 0;
    left: 0;
    z-index: 20;

}

.navbar-header > h1
{
    font-family: 'Londrina Shadow', sans-serif;
    font-size: 6em;
    text-shadow: 1px 1px 5px #0a0a0a;
    color: #000;
}
/* End of Navbar Section */

/* Jumbotron Section */

.jumbotron
{
    background-image: url("/img/crane.JPG");
    background-size: cover;
    background-position: center;
    height: 450px;
}

/* End of Jumbotron Section */