@import url('https://fonts.googleapis.com/css?family=Amiri|Tangerine&display=swap');

/*  Global Section*/

/* End of Global Section */

/* Navbar Section */
.nav
{
    margin-bottom: 0;
    border: 0px;
    background-color: transparent;
    position: absolute;
    top: 100;
    right: 0;
    left: 0;
    z-index: 20;
}

.nav a
{
    color: #fff;
    font-size: 1.5em;
}
/* End of Navbar Section */

/* Jumbotron Section */

.jumbotron
{
    background-image: url("/img/fs_new.jpg");
    background-size: cover;
    background-position: center;
    height: 1000px;
    border-top: 1px solid #000;
    margin-bottom: 0px;
}

.jumbotron h1
{
    font-family: 'Tangerine', sans-serif;
    font-size: 6em;
    text-shadow: 1px 1px 5px #090df7;
    color: #000;
}

.intro
{
    position: absolute;
    bottom: 200px;
}

/* End of Jumbotron Section */

/* Start of Projects Section */

#projects
{
    height: 100%;
    border: 1px solid #000;
    background-color: rgba(17,17,17,0.2);
}

/* End of Projects Section */